// This is common style for all views

.some {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some1 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some2 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some3 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some4 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some5 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some6 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some7 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some8 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some9 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some10 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some11 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some12 {
  color: black;
  background-color: red;
  font-size: 10pt;
}
.some13 {
  color: black;
  background-color: red;
  font-size: 10pt;
}